In [1]:
import pandas as pd
data = pd.read_excel("DRDO database.xlsx")
print(data)

     S.                Name of laboratories/establishments    Location  \
0   No.                                                NaN         NaN
1     1     Advanced Centre for Energetic Materials (ACEM)       Nasik
2     2  Advanced Numerical Research & Analysis Group (...   Hyderabad
3     3                  Advanced Systems Laboratory (ASL)   Hyderabad
4     4  Aerial Delivery Research & Development Establi...        Agra
..  ...                                                ...         ...
56   56      Snow and Avalanche Study Establishment (SASE)      Manali
57   57                                   SF Complex (SFC)   Jagdalpur
58   58              Solid State Physics Laboratory (SSPL)       Delhi
59   59     Terminal Ballistics Research Laboratory (TBRL)  Chandigarh
60   60  Vehicle Research & Development Establishment (...  Ahmednagar

                       Areas of Research
0                                    NaN
1                    Energetic Materials
2                  Computational Systems
3           Missiles & Strategic Systems
4            Parachutes & Aerial Systems
..                                   ...
56                    Snow and Avalanche
57                            Propellant
58  Solid State/ Semiconductor Materials
59                   Terminal Ballistics
60                      Wheeled Vehicles

[61 rows x 4 columns]

In [6]:
data = pd.read_excel("DRDO database.xlsx")
data["full name"] = data ["Areas of Research"].str.capitalize() + " " + data["Location"]
print(data)

     S.                Name of laboratories/establishments    Location  \
0   No.                                                NaN         NaN
1     1     Advanced Centre for Energetic Materials (ACEM)       Nasik
2     2  Advanced Numerical Research & Analysis Group (...   Hyderabad
3     3                  Advanced Systems Laboratory (ASL)   Hyderabad
4     4  Aerial Delivery Research & Development Establi...        Agra
..  ...                                                ...         ...
56   56      Snow and Avalanche Study Establishment (SASE)      Manali
57   57                                   SF Complex (SFC)   Jagdalpur
58   58              Solid State Physics Laboratory (SSPL)       Delhi
59   59     Terminal Ballistics Research Laboratory (TBRL)  Chandigarh
60   60  Vehicle Research & Development Establishment (...  Ahmednagar

                       Areas of Research  \
0                                    NaN
1                    Energetic Materials
2                  Computational Systems
3           Missiles & Strategic Systems
4            Parachutes & Aerial Systems
..                                   ...
56                    Snow and Avalanche
57                            Propellant
58  Solid State/ Semiconductor Materials
59                   Terminal Ballistics
60                      Wheeled Vehicles

                                     full name
0                                          NaN
1                    Energetic materials Nasik
2              Computational systems Hyderabad
3       Missiles & strategic systems Hyderabad
4             Parachutes & aerial systems Agra
..                                         ...
56                   Snow and avalanche Manali
57                        Propellant Jagdalpur
58  Solid state/ semiconductor materials Delhi
59              Terminal ballistics Chandigarh
60                 Wheeled vehicles Ahmednagar

[61 rows x 5 columns]

In [8]:
data = {"months":["January","February","March","April"]}
a = pd.DataFrame(data)
def extract (string):
    return string[0:3]
a["short"] = a["months"].map(extract) 
print(a)

     months short
0   January   Jan
1  February   Feb
2     March   Mar
3     April   Apr

In [14]:
data = pd.read_excel("DRDO database.xlsx")
gp = data.groupby(["Location"]).agg({"Areas of Research":"count"})
print(gp)

               Areas of Research
Location
Agra                           1
Ahmednagar                     1
Ambernath                      1
Avadi                          1
Balasore                       2
Bengaluru                      9
Chandigarh                     1
Chennai                        1
Cochin                         1
Dehradun                       2
Delhi                         13
Gwalior                        1
Haldwani                       1
Hyderabad                      8
Jagdalpur                      1
Jodhpur                        1
Kanpur                         1
Kolkata                        1
Leh                            1
Manali                         1
Mussoorie                      1
Mysore                         1
Nasik                          1
Panagarh                       1
Pune                           5
Tezpur                         1
Visakhapatnam                  1

In [17]:
data1 = {"emp id":["e1","e2","e3","e4","e5","e6"],"name":["ram","shyam","raj","joy","asish","rahul"],"age":[34,45,56,33,22,21]}

data2 = {"emp id":["e1","e2","e3","e4","e5","e6"],"salary":[45000,67000,56000,88000,33000,88000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print()
print(df2)
print(pd.merge(df1,df2,on = "emp id"))

  emp id   name  age
0     e1    ram   34
1     e2  shyam   45
2     e3    raj   56
3     e4    joy   33
4     e5  asish   22
5     e6  rahul   21

  emp id  salary
0     e1   45000
1     e2   67000
2     e3   56000
3     e4   88000
4     e5   33000
5     e6   88000
  emp id   name  age  salary
0     e1    ram   34   45000
1     e2  shyam   45   67000
2     e3    raj   56   56000
3     e4    joy   33   88000
4     e5  asish   22   33000
5     e6  rahul   21   88000