In [1]:
import pandas as pd
data = {"name":["john","peter","lisa"],"age":[25,28,21],"salary":[300000,45000,25000]}
df = pd.DataFrame(data)
print(df)

    name  age  salary
0   john   25  300000
1  peter   28   45000
2   lisa   21   25000

In [ ]:
# for reading a csv file :
# data = pd.read_csv ("file name")
#for reading an excel file :
# data = pd.read_excel("file name")

In [5]:
data = pd.read_excel("DRDO database.xlsx")
#print(data)
print(data.head(10))
print(data.tail(10))
print(data.info)

    S.                Name of laboratories/establishments   Location  \
0  No.                                                NaN        NaN
1    1     Advanced Centre for Energetic Materials (ACEM)      Nasik
2    2  Advanced Numerical Research & Analysis Group (...  Hyderabad
3    3                  Advanced Systems Laboratory (ASL)  Hyderabad
4    4  Aerial Delivery Research & Development Establi...       Agra
5    5       Aeronautical Development Establishment (ADE)  Bengaluru
6    6  Armament Research & Development Establishment ...       Pune
7    7                 Centre for Air Borne System (CABS)  Bengaluru
8    8  Centre for Artificial Intelligence & Robotics ...  Bengaluru
9    9                  Centre for Advanced Systems (CAS)  Hyderabad

                    Areas of Research
0                                 NaN
1                 Energetic Materials
2               Computational Systems
3        Missiles & Strategic Systems
4         Parachutes & Aerial Systems
5                         Aeronautics
6                           Armaments
7                   Air Borne Systems
8  Artificial Intelligence & Robotics
9     Integration of Strategic System
    S.                Name of laboratories/establishments    Location  \
51  51            Recruitment and Assessment Center (RAC)       Delhi
52  52                       Research Centre Imarat (RCI)   Hyderabad
53  53  Research & Development Establishment (Engrs) [...        Pune
54  54            DRDO Research & Innovation Centre (RIC)     Chennai
55  55                    Scientific Analysis Group (SAG)       Delhi
56  56      Snow and Avalanche Study Establishment (SASE)      Manali
57  57                                   SF Complex (SFC)   Jagdalpur
58  58              Solid State Physics Laboratory (SSPL)       Delhi
59  59     Terminal Ballistics Research Laboratory (TBRL)  Chandigarh
60  60  Vehicle Research & Development Establishment (...  Ahmednagar

                         Areas of Research
51                          Human Resource
52            Missiles & Strategic Systems
53  Engineering Systems & Weapon Platforms
54                  Accreditation Projects
55                              Cryptology
56                      Snow and Avalanche
57                              Propellant
58    Solid State/ Semiconductor Materials
59                     Terminal Ballistics
60                        Wheeled Vehicles

In [7]:
data = pd.read_excel("DRDO database.xlsx")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 4 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   S.                                   61 non-null     object
 1   Name of laboratories/establishments  60 non-null     object
 2   Location                             60 non-null     object
 3   Areas of Research                    60 non-null     object
dtypes: object(4)
memory usage: 2.0+ KB
None

In [8]:
data.describe()

,S.,Name of laboratories/establishments,Location,Areas of Research
count,61,60,60,60
unique,61,60,27,56
top,No.,Advanced Centre for Energetic Materials (ACEM),Delhi,Missiles & Strategic Systems
freq,1,1,13,4

In [9]:
print(data.isnull().sum())

S.                                     0
Name of laboratories/establishments    1
Location                               1
Areas of Research                      1
dtype: int64

In [13]:
print(data["Location"].duplicated().sum())
print(data.drop_duplicates("Location"))

33
     S.                Name of laboratories/establishments       Location  \
0   No.                                                NaN            NaN
1     1     Advanced Centre for Energetic Materials (ACEM)          Nasik
2     2  Advanced Numerical Research & Analysis Group (...      Hyderabad
4     4  Aerial Delivery Research & Development Establi...           Agra
5     5       Aeronautical Development Establishment (ADE)      Bengaluru
6     6  Armament Research & Development Establishment ...           Pune
11   11    Centre for Personnel Talent Management (CEPTAM)          Delhi
14   14  Centre for Millimeter Wave Semiconductor Devic...        Kolkata
15   15  Combat Vehicles Research & Development Establi...          Avadi
18   18  Defence Electronics Applications Laboratory (D...       Dehradun
20   20            Defence Food Research Laboratory (DFRL)         Mysore
21   21   Defence Institute of Bio-Energy Research (DIBER)       Haldwani
22   22                      DRDO Integration Centre (DIC)       Panagarh
23   23  Defence Institute of High Altitude Research (D...            Leh
26   26                            Defence Laboratory (DL)        Jodhpur
28   28  Defence Materials & Stores R&D  Establishment ...         Kanpur
30   30  Defence Research & Development Establishment (...        Gwalior
32   32                  Defence Research Laboratory (DRL)         Tezpur
38   38           Institute of Technology Management (ITM)      Mussoorie
40   40                        Integrated Test Range (ITR)       Balasore
47   47         Naval Materials Research Laboratory (NMRL)      Ambernath
48   48   Naval Physical & Oceanographic Laboratory (NPOL)         Cochin
49   49    Naval Science & Technological Laboratory (NSTL)  Visakhapatnam
54   54            DRDO Research & Innovation Centre (RIC)        Chennai
56   56      Snow and Avalanche Study Establishment (SASE)         Manali
57   57                                   SF Complex (SFC)      Jagdalpur
59   59     Terminal Ballistics Research Laboratory (TBRL)     Chandigarh
60   60  Vehicle Research & Development Establishment (...     Ahmednagar

                               Areas of Research
0                                            NaN
1                            Energetic Materials
2                          Computational Systems
4                    Parachutes & Aerial Systems
5                                    Aeronautics
6                                      Armaments
11                          Personnel Management
14  Millimeter Wave Semiconductor Devices (MWSD)
15                               Combat Vehicles
18           Electronics & Communication Systems
20                                 Food Research
21                           Bio-Energy Research
22               Integration of Strategic System
23            High Altitude Agro-animal Research
26                     Camouflaging and Isotopes
28                Textile, Polymers & Composites
30                 Chemical & Biological Warfare
32                              Health & Hygiene
38                         Technology Management
40                  Missiles & Strategic Systems
47               Corrosion Preventive Technology
48                                 Naval Systems
49                            Underwater Weapons
54                        Accreditation Projects
56                            Snow and Avalanche
57                                    Propellant
59                           Terminal Ballistics
60                              Wheeled Vehicles